python-jose[cryptography]
passlib[bcrypt]
fastapi[standard]
uvicorn[standard]
python-multipart
authlib
itsdangerous
httpx
websockets
slowapi
pandas
fastapi-sso
asgiref
jinja2
pyjwt
markdown
psutil
pypdf
openai
PyPDF2
python-dotenv
langchain-community
langchain
langchain-openai
scikit-learn
tiktoken
mkdocs
mkdocs-material
ruff
setuptools
pytesseract
pdf2image
opencv-python
redis
charset-normalizer
